* {
    padding: 0;
    margin: 0;
}
/*-------------*/
.bar{
    background-color: rgb(21, 69, 78);
    top: 100px;
    padding-top: 100px;
}
/*-------------*/
#button {
    background-color: rgba(255,255,255,0.3);
    color: white;
    width: 200px;
    height: 50px;
    padding: 400px, 400px;
    top: 120px;
    left: 350px;
    position:absolute;
    cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 8px;
}
#button:hover {
    transform: scale(1.2);
    background-color: rgba(255,255,255,0.3);
}
#button:active {
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.3);
}